.l {
    color: rgba(0, 0, 0, 0);
    border-bottom: #000000 solid 5px;
    width: 40px;
}

.l-on {
    color: #000000 !important;
    border-bottom: #000000 solid 0px;
    width: 40px;
}

.botao-on {

    height: 40px;
    width: 40px;
    background: #e1ecf4;
    border: 1px solid #7aa7c7;
    border-radius: 3px;
    font-size: 16px;
    color: #39739d;
    font-weight: 700;

}

.botao-off {

    height: 40px;
    width: 40px;
    background: #9faab5;
    border: 1px solid #7AA7C7;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #798a9f;
    font-weight: 700;
    
}